.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: calc(100% - 96px);
  margin: 118px auto 92px;
  gap: 16px;
  padding: 0 53px 0 43px;
}

.photo-grid__image {
  width: 100%;
}
